<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button [routerLink]="['/ticket']">Click here to book tickets</ion-button>
  <br>
  <ion-button [routerLink]="['/movie']">Click here to select movie</ion-button>
  <br>
  <ion-button [routerLink]="['/user-detail']">Click here to enter email address</ion-button>

  <br>
  <ion-title>Your Number of Tickets: {{ticket}}</ion-title>
  <br>
  <ion-title>Your Movie Choice: {{movie}}</ion-title>
  <br>
  <ion-title>Your Email Address: {{email}}</ion-title>


  <br>
  <ion-button (click)="onButtonClick()">Click here to continue with purchase</ion-button>
  
</ion-content>
