<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Movie Page</ion-title>
  </ion-toolbar>
</ion-header>

<!--Source for pictures: Wikipedia-->
<ion-content [fullscreen]="true">
<h2>Please Select what movie you want to watch.</h2>
<h2>Scroll down and click button to save the movie.</h2>
  <ion-list>
    <ion-radio-group [(ngModel)]="movie">
      <ion-item>
        <ion-label>Oppenheimer</ion-label>
        <div>
          
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/4a/Oppenheimer_%28film%29.jpg/250px-Oppenheimer_%28film%29.jpg">
        </div>
        <ion-radio value="Oppenheimer" slot="end"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Mickey 17</ion-label>
        <div>
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/2d/Mickey_17_film_poster.png/250px-Mickey_17_film_poster.png">
        </div>
        <ion-radio value="Mickey 17" slot="end"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Shaun of the Dead</ion-label>
        <div>
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8d/Shaun_of_the_Dead_film_poster.jpg/250px-Shaun_of_the_Dead_film_poster.jpg">
        </div>
        <ion-radio value="Shaun of the Dead" slot="end"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Sinners</ion-label>
        <div>
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5f/Sinners_%282025_film%29_poster.jpg/250px-Sinners_%282025_film%29_poster.jpg">
        </div>
        <ion-radio value="Sinners" slot="end"></ion-radio>
      </ion-item>
      
    </ion-radio-group>
  </ion-list>

  <!--Saves whatever movie the user clicks-->
  <ion-button (click)="onButtonClick()">Save</ion-button>
</ion-content>
